@import './abstracts/variables';
@import './abstracts/function';
@import './abstracts/mixins';

@import './base/base';
@import './base/animations';
@import './base/typography';
@import './base/utilites';

@import './components/home';
@import './components/musicPlayer';
@import './components/playlist';