.home {
  &-section {
    width: 100%;
    padding: 2rem;
    height: 100%;
    padding-bottom: 10rem;
    overflow-y: auto;
  }

  // carousel
  &-carousel {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: $shadow;
    position: relative;

    &--img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: 1s;

      &.active {
        opacity: 1;
      }
    }
  }
}

// playlist
.playlist {
  &-group {
    position: relative;
    width: 100%;
    min-height: 20rem;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  &-card {
    flex: 0 0 auto;
    max-width: 15rem;
    height: 100%;
    margin-right: 2rem;

    &--img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      border-radius: 2rem;
    }

    &--name {
      width: 100%;
      text-align: justify;
      font-size: 1.6rem;
      text-transform: capitalize;
      padding: 0.5rem;
    }
  }
}