.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    margin: 3rem 0 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    animation: moveInRight 2s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to left, $color-primary-light, $color-primary-dark);
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.0);
    text-shadow: -5rem 1rem 0.5rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}